/* Inicio Estilos Footer */
footer {
    background-color: $colorPrimario;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 70px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        color: white;
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
/* Fin estilos Footer */