/* Inicio estilos index.html */
#index-content {
    text-align: center;
    padding: 20px;
    color: $colorDetalles1;

    h1 {
        font-family: 'Barlow', sans-serif;
        font-size: 36px;
        margin-bottom: 10px;
        }

    h2 {
        font-family: 'Dosis', sans-serif;
        font-size: 40px;
        margin-bottom: 20px;
        color: $colorPrimario;
    
    &.scale-down-top {
      -webkit-animation: scale-down-top 1.5s infinite alternate-reverse both;
      animation: scale-down-top 1.5s infinite alternate-reverse both;
    }
  }
    
    @-webkit-keyframes scale-down-top {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
      }
      100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
      }
    }
    @keyframes scale-down-top {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
      }
      100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
      }
    }

    p {
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
        line-height: 1.5;
    }
}

/* Estilos para la sección de Certificados */
#certificados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.curso-certificado {
        text-align: center;
        margin-bottom: 20px;
    }

.title-curso {
            font-family: 'Barlow', sans-serif;
            font-size: 20px;
            margin-bottom: 10px;
            color: $colorPrimario;
        }

.img-index {
            width: 100%;
            max-width: 500px;
            border-radius: 8px;
        }
    

/* Fin estilos sección certificados */

/* Inicio estilos streched links  */
.row.g-0 {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 50%;
    border-radius: 10px;
    border: 1px solid $colorDetalles1;

    .col-md-6 {
        padding: 20px;

        img {
            width: 100%;
            max-width: 500px;
            border-radius: 8px;
        }

        h5 {
            color: $colorSecundario;
            font-family: 'Barlow', sans-serif;
            font-size: 30px;
            margin-top: 0;
        }

        p {
            color: $colorSecundario;
            font-family: 'Barlow', sans-serif;
            font-size: 19px;
            line-height: 1.5;
        }

        a.stretched-link {
            display: inline-block;
            text-align: center;
            line-height: inherit;
            font-family: 'Barlow', sans-serif;
            padding: 10px 20px;
            background-color:$colorPrimario;
            color: $colorSecundario;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;

            &:hover {
                color: $colorPrimario;
                background-color: $colorSecundario;
            }
        }

        .scale-down-center {
          -webkit-animation: scale-down-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
                  animation: scale-down-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate-reverse both;
        }
        
      }
}


/* Fin estilos streched links  */
/* Inicio estilos media index.html*/
@media screen and (max-width: 991px) {
    
    .title-curso {
        text-align: center;
      }
    
    .desc-text{
        display: none;
      }
  }
  
@media screen and (max-width: 768px) {
    
    #certificados {
      flex-direction: column;
      align-items: center;
    }
      .curso-certificado {
        margin-bottom: 30px;
      }

      #index-content p {
          display: none;
      }

      .title-curso {
        color: $colorDetalles1;
        text-align: center;
      }

      .img-index {
        border: 2px solid $colorSecundario;
      }

      .row.g-0{ 

        .col-md-6 {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
            
        p {
        display: none; 
      }
    
      .mt-0{
        text-align: center;
      }

    }
    /* Fin estilos media index.html*/
}

@media screen and (max-width: 360px) {

  .row.g-0{ 

    .col-md-6 {
      h5 {
          font-size: 19px;
      }

      a.stretched-link {
        padding: 5px 10px;
    }

    }
  }
}