@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;1,400&family=Dosis:wght@200;400;800&display=swap");
/*Inicio estilos globales de la pagina*/
* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #000;
}

main {
  margin-top: 10px;
  margin-bottom: 100px;
}

/*Fin estilos globales de la pagina*/
/* Inicio estilos Header */
.navbar {
  background-color: #daa520;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  top: 0;
  height: 70px;
  width: 100%;
}
.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.navbar li {
  margin: 0;
}
.navbar a {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar .active {
  font-weight: bold;
  color: #000;
}

/* Fin estilos Header */
/* Inicio Estilos Footer */
footer {
  background-color: #daa520;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  height: 70px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a {
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
footer a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Fin estilos Footer */
/* Inicio estilos index.html */
#index-content {
  text-align: center;
  padding: 20px;
  color: white;
}
#index-content h1 {
  font-family: "Barlow", sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}
#index-content h2 {
  font-family: "Dosis", sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  color: #daa520;
}
#index-content p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* Estilos para la sección de Certificados */
#certificados {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.curso-certificado {
  text-align: center;
  margin-bottom: 20px;
}

.title-curso {
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  color: #daa520;
}

.img-index {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}

/* Fin estilos sección certificados */
/* Inicio estilos streched links  */
.row.g-0 {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 50%;
  border-radius: 10px;
  border: 1px solid white;
}
.row.g-0 .col-md-6 {
  padding: 20px;
}
.row.g-0 .col-md-6 img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
}
.row.g-0 .col-md-6 h5 {
  color: #000;
  font-family: "Barlow", sans-serif;
  font-size: 30px;
  margin-top: 0;
}
.row.g-0 .col-md-6 p {
  color: #000;
  font-family: "Barlow", sans-serif;
  font-size: 19px;
  line-height: 1.5;
}
.row.g-0 .col-md-6 a.stretched-link {
  color: #daa520;
}

a.stretched-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: grey;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
a.stretched-link:hover {
  background-color: #000;
}

/* Fin estilos streched links  */
/* Inicio estilos quiensoy.html */
.container {
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imgYo {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  border: 4px solid #daa520;
  margin-top: 12px;
  margin-right: 12px;
}

.text {
  flex: 1;
}
.text p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

#titleYo {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
}

#subTitleYo {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  color: #daa520;
}

#factYo {
  background-color: #daa520;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}
#factYo h3 {
  color: #000;
}

/* Fin estilos quiensoy.html */
/* Inicio estilos curriculum.html */
#curriculum {
  color: white;
  text-align: center;
  padding: 20px;
}
#curriculum img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  border: 4px solid #daa520;
}

.section-container {
  display: flex;
  justify-content: space-around;
}

.title-cv {
  text-align: center;
  padding: 20px;
  color: white;
}
.title-cv h2 {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
.title-cv h1 {
  font-family: "Dosis", sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

/* Inicio estilo para Experiencia Laboral y Formación Académica */
#historiaLaboral, #estudios {
  flex: 1;
  margin-bottom: 30px;
  border: 4px solid #daa520;
  border-radius: 12px;
  padding: 20px;
  margin: 3px;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.experienciaCv, .formacionCv {
  margin-bottom: 20px;
}

.fechaCv {
  color: #daa520;
}

.puestoCv {
  font-family: "Dosis", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.descriptionCv {
  font-family: "Barlow", sans-serif;
  margin-bottom: 8px;
}

.academia {
  color: #daa520;
  margin-bottom: 8px;
}

/* Fin estilo para Experiencia Laboral y Formación Académica */
/* Fin estilos curriculum.html */
/* Estilos servicios.html */
#title-section,
#services-section {
  text-align: center;
  padding: 10px 0;
}

#title-section h1 {
  font-family: "Dosis", sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
}
#title-section p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

#services-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.misServices {
  background-color: #000;
  color: white;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #daa520;
}
.misServices p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.title-service {
  font-family: "Dosis", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  background-color: #daa520;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Fin estilos servicios.html */
/* Inicio estilo contacto.html */
/*Inicio estilo formulario*/
/* Estilo formulario */
.container-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: #daa520;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #daa520;
  border-radius: 4px;
  background-color: #444;
  color: white;
  font-family: "Dosis", sans-serif;
}

button {
  background-color: #daa520;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.row {
  margin-bottom: 16px;
}

.col-12 {
  text-align: center;
}

.mb-3 {
  margin-bottom: 16px;
}

#exampleFormControlTextarea1 {
  color: #000;
}

/* Fin estilo formulario */
#section-contact {
  text-align: center;
  padding: 40px 0;
  background-color: #000;
  color: white;
}
#section-contact p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.subtitle-contact {
  font-family: "Dosis", sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.medios-contact {
  margin-bottom: 20px;
}
.medios-contact h3 {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}
.medios-contact a {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #daa520;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.medios-contact a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 5px;
}
.medios-contact a:focus {
  outline: 2px solid white;
}

.medios-contact__title {
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.medios-contact__link {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: #daa520;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.medios-contact__link:hover {
  color: white;
  background-color: #daa520;
}
.medios-contact__link:focus {
  outline: 2px solid white;
}

/* Fin estilo contacto.html*/
@media screen and (max-width: 768px) {
  /* Inicio estilos media para el navbar y footer global*/
  .navbar {
    background-color: gray;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
  }
  .navbar ul {
    flex-direction: row;
  }
  .navbar li {
    margin: 0 10px;
  }
  .navbar a {
    padding: 10px;
    text-align: center;
    color: gold;
  }
  footer {
    background-color: gray;
  }
  footer a {
    color: gold;
  }
  /* Fin estilos media para el navbar y footer global*/
  /* Inicio estilos media index.html*/
  #certificados {
    flex-direction: column;
    align-items: center;
  }
  .curso-certificado {
    margin-bottom: 30px;
  }
  #index-content p {
    display: none;
  }
  .title-curso {
    color: white;
  }
  .img-index {
    border: 2px solid #000;
  }
  .row.g-0 p {
    display: none;
  }
  /* Fin estilos media index.html*/
  /* Inicio estilos media quiensoy.html */
  .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #imgYo {
    height: 500px;
    width: 300px;
    margin-right: 0;
    margin-bottom: 20px;
    border: 4px solid gray;
  }
  #titleYo,
  #subTitleYo,
  .text p {
    text-align: center;
  }
  #factYo {
    display: none;
  }
  /* Fin estilos media para quiensoy.html */
  /* Inicio estilos media para curriculum.html */
  #curriculum img {
    height: 500px;
    width: 350px;
    border: 4px solid gray;
  }
  #historiaLaboral, #estudios {
    border: 4px solid gray;
    margin-bottom: 20px;
    padding: 15px;
  }
  .title-cv h1 {
    font-size: 28px;
  }
  .title-cv h2 {
    font-size: 20px;
  }
  .fechaCv {
    color: white;
  }
  .puestoCv {
    font-size: 18px;
    color: #daa520;
  }
  .academia {
    color: white;
  }
  #historiaLaboral .descriptionCv,
  #estudios .descriptionCv {
    display: none;
  }
  /* Fin estilos media para curriculum.html */
  /* Inicio estilos media para servicios.html */
  #title-section h1 {
    font-size: 28px;
  }
  #title-section p {
    font-size: 16px;
  }
  #services-section {
    display: block;
    margin: 20px;
  }
  .misServices {
    padding: 15px;
    border: 1px solid grey;
    margin-bottom: 30px;
  }
  .misServices p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .title-service {
    font-size: 20px;
  }
  button {
    padding: 8px 15px;
    font-size: 16px;
    color: #daa520;
    background-color: gray;
  }
  /* Fin estilos media para servicios.html */
  /* Inicio estilos media para contacto.html */
  .subtitle-contact {
    font-size: 28px;
  }
  #section-contact p {
    font-size: 16px;
  }
  .medios-contact h3,
  .medios-contact__title {
    font-size: 20px;
  }
  .medios-contact a,
  .medios-contact__link {
    font-size: 16px;
    color: gray;
  }
  .container-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  label {
    color: gray;
    font-size: 23px;
  }
  label,
  input,
  textarea {
    width: 100%;
  }
  .btn-primary {
    background-color: #000;
    border-color: #444;
  }
  .btn-primary:hover {
    background-color: #daa520;
    border-color: #444;
  }
  /* Fin estilos media para contacto.html */
}/*# sourceMappingURL=estilos.css.map */